@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif;
}
:root {
  --blue-gradiente-white: linear-gradient(to bottom, #00ADA4, #f2f2f2);
  --blue-gradiente-blue: linear-gradient(to bottom, #00ADA4, #5ce1e6);
  --blue-gradiente-blue-inverso: linear-gradient(to top, #00ADA4, #5ce1e6);
  --blue-opacity-minus:rgba(92, 225, 230, 0.7);
}

img {
  height: 25px;
}

a {
  text-decoration: none;
  color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0,);
  white-space: nowrap;
  border-width: 0;
}

/*CONTAINER -------------*/
main.container {
  background: url("/assets/images/backgroundAstronaut-opacity.svg");
  background-size: cover;
 
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*HEADER --------------**/
header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
 background: var(--blue-gradiente-white);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 3.1rem;
  margin-bottom: -15px;
}

header span {
  color: white;
  font-weight: lighter;
  font-size: 1.3rem;
}

/*WRAPPER ------------- */
.wrapper
 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: auto;
  margin-bottom: 1rem;
  padding: 10px;

  width: 50%;
  height: 100%;

  background: rgba(255, 255, 255, 0.2);

  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

/*SECTION 1 - FORMULARIO */
.section1 {
  padding: 2rem;
}

.input-field input,
.button{
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.2rem;

}

.input-field input {
  outline: none;
  padding: 8px 20px 8px 20px;
  
  border: 2px solid #5ce1e6;
  border-radius: 0.3rem;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.input-field input::placeholder {
  color: rgba(0, 0, 0, 0.4);
} 

.button{ 
  text-align: center;
}

.button button {
  background: var(--blue-gradiente-blue);
  
  border-radius: 50px;
  border: 2px solid #fff;

  padding: 0.25rem 2rem;
  
  color: #fff;
  font-weight: 400;

  cursor: pointer;
  transition: all 0.5s ease;

}

.button button:hover {
  background: var(--blue-gradiente-blue-inverso);
  transform: scale(1.05);

}

label.agree{
  color: var(--blue-opacity-minus);
  font-weight: 100;
  font-size: 14px;
}

/*SEPARATOR ---------------------------------*/
.separator {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
.separator span{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 20px;

}

.linha-1 {
  height: 125px;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}
.linha-2 {
  height: 125px;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

/*SECTION 2 - SOCIAL FIELDS*/
.section2 {
  padding: 1rem;
}

.social-field {
  margin-bottom: 1rem;
  padding: 0.65rem 1rem;

  border-radius: 0.25rem;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

  width: 250px;
  transition: all 0.5s ease;

} 

.social-field:hover{
  transform: scale(1.1);

}

.social-field.google {
  background-color: #f2f2f2;
}

.social-field.google a{
  color: black;

  display: flex;
  align-items: center;
}

.social-field.google img,
.social-field.facebook img,
.social-field.linkedin img
{
  margin-right: 10px;
}

.social-field.facebook a,
.social-field.linkedin a
 {
  display: flex;
  align-items: center;
}

.social-field.facebook {
  background: linear-gradient(to right, #1976D2 70%, #53adda);
  font-weight: 100;
}

.social-field.linkedin {
  background: linear-gradient(to left, #0f5397 10%, #007AB9);
  font-weight: 100;
}


/*ICONES DAS REDES ---------------------*/


/*FOOTER -----------*/
.footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;

}

/* .footer img {
  position: absolute;
  left: 70%;

  height: 50px;
} */

.footer a,
a.create-acc {
  font-weight: 100;
  font-size: 14px;
  color: var(--blue-opacity-minus);
}

.footer a:hover,
a.create-acc:hover {
  color: #fff;
  text-decoration: underline;
}

/*RESPONSIVIDADE ====================================*/
@media screen and (max-width: 1200px){

  main.container {
    background: url("/assets/images/backgroundAstronaut-opacity.svg");
    background-size: cover;
    background-position: center;
  
    height: 100%;
    width: 100%;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 1rem;
    padding: 0;
  
    background: none;
    box-shadow: none;
  }


  .input-field {
    width: 250px;
  }

  .social-field {
    width: 250px;
  }

  .separator {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   margin-bottom: 1rem;
  }
  
  .linha-1 {
    width:75px;
    height: 0;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
    margin-right: 15px;    
  }
  .linha-2 {
    width:75px;
    height: 0;
    border-bottom: 1px solid  rgba(255, 255, 255, 0.7);
    margin-left: 15px;    
  }

 
  .footer {
    padding: 1rem;
  }
}

/*PAGINA DE LOGIN================*/
.sm-logo {
  height: 3rem;
  padding: 0.3rem;
  box-sizing: content-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}
.login-header {
 margin-bottom: 2rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
}

.login-header h2 {
  font-size: 40px;
  font-weight: 400;
  background: var(--blue-gradiente-blue);
  -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 position: relative;
}

.login-header h2::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 45px;
  bottom: 8px;
  left: 0;
  border-radius: 8px;
  /* background:linear-gradient(45deg, #8e2de2, #4a00e0); */
  background: var(--blue-gradiente-blue-inverso);
  /* background: #fff; */
}

.fa-user-circle {
  color: #00ADA4;
}


.wrapper.login {
  flex-direction: column;
  width: 30%;
  margin-top: 1rem;

  background: rgba(255, 255, 255, 0.2);

  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

#forgot-password {
  color: var(--blue-opacity-minus);
  font-weight: 100; 
  font-size: 14px;
  margin-top: 0;
  float: right;
}

#forgot-password:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

.input-field.user  input{
  background: url('/assets/images/user-solid.svg');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 16px;
  font-size: 16px;
  padding: 8px 20px 8px 40px;
  background-color: #fff;
}

.input-field.password  input{
  background: url('/assets/images/key-solid.svg');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 16px;
  font-size: 16px;
  padding: 8px 20px 8px 40px;
  background-color: #fff;
}
.login-button {
  margin-top: 2rem;
  width: 100%;
}

#button-login {
  width: 80%;
}

.hidden {
  visibility: hidden;
}

span.connect {
color: var(--blue-opacity-minus);
margin: 1rem;
font-weight: 100;
font-size: 14px;
}

.section2.login {
  /* margin-bottom: 2rem; */
}

@media screen and (max-width: 1000px){

.wrapper.login {
  flex-direction: column;
  width: 50%;
  margin-top: 1rem;

  background: none;

  border-radius: none;
  box-shadow: none;
}

span {
  text-align: center;
}
}